{% extends "base.html" %}

{% block container %}
{% if heading %}
<h3>{{heading}}</h3>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
<div class="row form-row spacer">
    <div class="col-2">
        <label>{{form.url.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group">
            {{form.url}}
        </div>
    </div>
</div>
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Scan Resource</button>
    </div>
</div>
</form>
{% endblock %}

{% block custom_js %}

{% endblock %}
