{% extends "base.html" %}

{% block container %}
<table class="table">
    <tr>
        <th>External ID</th>
        <th>MAC Address</th>
        <th>IPv4 Address</th>
        <th>interface Name</th>
        <th>{{ count }} Entries</th>
    </tr>
{% for interface in interfaces %}
    <tr>
        <td>{{interface.external_id}}</td>
        <td>{{interface.mac_address}}</td>
        <td>{{interface.ipv4_address}}</td>
        <td>{{interface.interface_name}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
