{% extends 'base.html' %}

{% load widget_tweaks %}

{% block container %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.mac_address.label_tag }}
          {% render_field filter.form.mac_address class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.interface_name.label_tag }}
          {% render_field filter.form.interface_name class="form-control" %}
        </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>External ID</th>
        <th>MAC Address</th>
        <th>Interface Name</th>
        <th>IPv4 Address</th>
      </tr>
    </thead>
    <tbody>
      {% for interface in filter.qs %}
        <tr>
          <td>{{ interface.external_id }}</td>
          <td>{{ interface.mac_address }}</td>
          <td>{{ interface.interface_name }}</td>
          <td>{{ interface.ipv4_address }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}