{% extends "base.html" %}

{% block container %}
<p>Django Based Monitor Application</a>

<p>This app contains the following urls</p>

<ul>
    <li><a href="{% url 'monitor:book_list'%}">Book List</a></li>
    <li><a href="{% url 'monitor:create_book_normal'%}">Add multiple books using normal forms</a></li>
    <li><a href="{% url 'monitor:create_book_model_form'%}">Add multiple books using model forms</a></li>
    <li><a href="{% url 'monitor:create_book_with_authors'%}">Add a book with multiple author, both using model forms</a></li>
</ul>
{% endblock %}
